@import "tailwindcss";
@plugin "daisyui";

/* @theme {
  --color-primaryy: yellow;
}

@utility text-x {
  color: red;
} */

/* .not-hover\:opacity-75:not(*:hover) {
  opacity: 75%;
}
@media not (hover: hover) {
  .not-hover\:opacity-75 {
    opacity: 75%;
  }
}
 */
